@use "../styles/variables"
@use "../styles/fonts"

.tile
  $box-padding: 20px
  display: flex
  position: relative
  width: 100%
  border: 2px solid rgb(var(--color-tile))

  &:after
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: calc(100% - 60px)
    left: 0
    background-color: white

  &__title-box
    z-index: 1
    padding: $box-padding
    height: 60px
    font-size: 20px
    position: absolute
    top: 0
    left: 0
    right: 0
    background-color: rgba(var(--color-tile), .1)
    display: flex
    justify-content: space-between
    overflow: hidden

  &__title-wrapper
    display: flex
    align-items: center
    transition: 200ms ease-out
    transform: translateY(0)
    opacity: 1

    .tile__title-box:hover &
      transform: translateY(-200%)
      opacity: 0

  &__title
    font-family: fonts.$heading
    display: inline-flex
    font-size: 20px

  &__price
    display: inline-flex
    font-size: 20px
    margin-right: 5px
    color: darken(variables.$adjacent-color, 50)

  &__to-cart
    position: absolute
    width: calc(100% - (#{$box-padding} * 2))
    display: flex
    justify-content: center
    transition: 200ms ease-out
    transform: translateY(200%)
    opacity: 0

    .tile__title-box:hover &
      transform: translateY(0)
      opacity: 1

  &__img
    display: flex
    width: 100%