extends layout

block content
    .container
        main
            h1.h1 Váš nákup:

            ul.tabs
                each item in [1,2,3]
                    li.tabs__item #{item}
            .cart
                form.form
                    h2.h2 Zadajte adresu:
                    .form__row
                        input.form__input(placeholder="Meno a priezvisko")
                    .form__row
                        input.form__input(placeholder="Váš email")
                        input.form__input(placeholder="Vaše telefónne číslo")
                    .form__row
                        input.form__input(placeholder="Ulica, číslo popisné")
                        select.form__input.form__input--compact(disabled)
                            option Brno
                    .form__row
                        input.form__input.form__input--compact(placeholder="PSČ")
                    .form__row
                        label.form__checkbox-label
                            input.form__checkbox(type="checkbox")
                            | Súhlasím so spracovaním osobných údajov
                .cart__navigation
                    .cart__back < Späť do obchodu
                    .cart__next Pokračovať >