extends layout

block content
    .container
        main.main
            div.search
                input.search__box(placeholder="Vyhľadať")
            section.main__section
                h1.h1 Category #1
                ul.grid
                    - for(let x=0; x<5; x++)
                        li.grid__item
                            .grid__item-content
                                .tile
                                    .tile__img
                                        .placeholder
                                            <svg><line x1="0" y1="0" x2="100%" y2="100%" stroke-width="2"></line><line x1="0" y1="100%" x2="100%" y2="0" stroke-width="2"></line></svg>
                                    .tile__title-box
                                        .tile__title-left
                                            h2.tile__title.h2 Product title ##{x}
                                            .tile__price #{(x + 1) * 70} czk
                                        .tile__to-cart
                                            button.to-cart-btn Vložiť do košíku
            section.main__section
                h1.h1 Category #2
                ul.grid.grid--compact
                    - for(let x=0; x<4; x++)
                        li.grid__item
                            .grid__item-content
                                .tile
                                    .tile__img
                                        .placeholder
                                            <svg><line x1="0" y1="0" x2="100%" y2="100%" stroke-width="2"></line><line x1="0" y1="100%" x2="100%" y2="0" stroke-width="2"></line></svg>
                                    .tile__title-box
                                        .tile__title-left
                                            h2.tile__title.h2 Product title ##{x}
                                            .tile__price #{(x + 1) * 70} czk
                                        .tile__to-cart
                                            button.to-cart-btn Vložiť do košíku