- const isAdmin = true
doctype html
html(lang='en')
    head
        link(rel='stylesheet', href='../styles/main.css')
        title pb175 eshop
    body
        .container
            nav.navigation
                div.inline(data-spacing="20px")
                    .navigation__logo.inline__item
                        .logo
                            .placeholder
                                <svg><line x1="0" y1="0" x2="100%" y2="100%" stroke-width="2"></line><line x1="0" y1="100%" x2="100%" y2="0" stroke-width="2"></line></svg>
                    if isAdmin
                        ul.navigation__list.inline__item
                            li.navigation__list-item
                                a.navigation__link Objednávky
                .navigation__cart-btn
                    button.cart-btn Košík: 0 czk
        block content
