extends layout

block content
    .container
        main.main.product
            .product__wrapper
                .product__img
                    .placeholder
                        <svg><line x1="0" y1="0" x2="100%" y2="100%" stroke-width="2"></line><line x1="0" y1="100%" x2="100%" y2="0" stroke-width="2"></line></svg>
                .product__details.details
                    .details__title
                        h1.h1 Product title #1
                    .details__head
                        .details__price 3500 czk
                        .details__count
                            .counter
                                .counter__text 0
                                .counter__controls
                                    .counter__control.counter__add +
                                    .counter__control.counter__subtract -
                    button.details__btn Vložiť do košíku
                    .details__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Fusce aliquam vestibulum ipsum.